.mys-multiscroll-nav {
	top: 0;
	right: 0;
	gap: 14px;
	z-index: 2;
	height: 100%;
	display: flex;
	position: fixed;
	margin-right: 52px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

.mys-multiscroll-nav__btn {
	width: 13px;
	height: 13px;
	cursor: pointer;
	border-radius: 100%;
	border: 2px solid #292323;
	transition: background-color var(--mys-multiscroll-nav-btn-transition-duration), transform var(--mys-multiscroll-nav-btn-transition-duration);
}

.mys-multiscroll-nav__btn--active {
	transform: scale(1.4);
	background-color: #292323;
}

@media screen and (max-width: 768px) {
	.mys-multiscroll-nav {
		display: none;
	}
}
