.mys-multiscroll-slide__content {
	width: 100%;
	color: #fff;
	height: 100%;
	display: flex;
	font-size: 44px;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 2px 3px #000;
	font-family: Arial, Helvetica, sans-serif;
}

.slide-0-full {
	background-color: #008000;
}

.slide-2-full {
	background-color: #4169e1;
}

.slide-6-full {
	background-color: #7a2d2d;
}

.slide-7-full {
	background-color: #735959;
}

.slide-1-left {
	background-color: #ff0000;
}

.slide-1-right {
	background-color: #0abbbb;
}

.slide-3-left {
	background-color: #0000ff;
}

.slide-3-right {
	background-color: #a52a2a;
}

.slide-4-left {
	background-color: #0da7aa;
}

.slide-4-right {
	background-color: #008000;
}

.slide-5-left {
	background-color: #59594f;
}

.slide-5-right {
	background-color: #1bec1b;
}

.slide-6-left {
	background-color: #383833;
}

.slide-6-right {
	background-color: #472f7a;
}

.slide-8-left {
	background-color: #b6b634;
}

.slide-8-right {
	background-color: #260e5a;
}

.slide-9-left {
	background-color: #6b6b3d;
}

.slide-9-right {
	background-color: #c26778;
}

.slide-10-left {
	background-color: #3d3d14;
}

.slide-10-right {
	background-color: #7f7577;
}

.slide-11-left {
	background-color: #dfdf1b;
}

.slide-11-right {
	background-color: #0000ff;
}
